{
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"parser": "typescript",
	"overrides": [
		{
			"files": "*.js",
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "*.md",
			"options": {
				"parser": "markdown"
			}
		},
		{
			"files": "*.less",
			"options": {
				"parser": "less"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		}
	]
}
